@charset "UTF-8";
@font-face {
  font-family: "themify";
  src: url("../fonts/themify.eot");
  src: url("../fonts/themify.eot?#iefix") format("embedded-opentype"), url("../fonts/themify.woff") format("woff"), url("../fonts/themify.ttf") format("truetype"), url("../fonts/themify.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 320px) {
  /* styles à appliquer pour les écrans de tablette ou plus grands */
}
/* scss background color*/
/* Body */
body {
  background-color: #1b1b1b;
}
body a {
  color: #676767;
  text-decoration: none;
}

a:hover {
  color: #aa8453;
}

/* Header */
.header1 {
  background-color: #1b1b1b;
  color: #aa8453;
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 3rem;
  width: 15rem;
  padding-right: 2rem;
  position: fixed;
  height: 100vh;
  /* class header */
  /* div2 */
}
.header1 p {
  color: white;
}
.header1 .liste {
  color: #676767;
  line-height: 50px;
}
.header1 .left2 {
  display: flex;
  flex-direction: row;
}
.header1 .left2 .left21 {
  order: 1;
}
.header1 .left2 .left21 i {
  font-size: 40px;
  margin-left: -30%;
  margin-top: 1500px;
}
.header1 .left2 .left22 {
  order: 2;
  width: 80%;
  line-height: 60%;
}
.header1 .left2 .num {
  color: #aa8453;
  font-size: 18px;
  margin-left: 7%;
  line-height: 60%;
}
.header1 .left2 .info {
  font-size: 15px;
  margin-left: 7%;
  color: #676767;
}

/* SLIDER */
#slider .slider2 {
  height: 650px;
  width: 79.2%;
  margin-left: 20rem;
}

.titreAccueil {
  position: absolute;
  top: 30px;
  left: 300px;
}

.surTitre {
  position: relative;
  margin-top: 180px;
  margin-left: 350px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.grosTitre {
  position: relative;
  margin-top: 25px;
  margin-left: 350px;
  color: white;
  font-size: 60px;
  text-align: center;
  letter-spacing: 10px;
}

.csui {
  border: solid white 1px;
  padding: 7px;
  color: white;
  width: 20%;
  padding-left: 2%;
  margin-left: 510px;
}

/* cadre */
.cadre {
  margin-left: 20em;
  background-color: #222222;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
  padding-top: 1em;
  margin-top: -3px;
  padding-left: 5em;
  padding-bottom: 5em;
  padding-right: 2em;
  margin-right: 8em;
  line-height: 20px;
  width: 67%;
  /* picture du premier cadre */
}
.cadre .exp1 {
  color: #aa8453;
  margin-left: 10%;
}
.cadre .exp2 {
  color: white;
  margin-left: 10%;
}
.cadre .exp3 {
  color: #676767;
  padding-right: 0em;
  margin-left: 10%;
}
.cadre .pict1 {
  width: 15em;
  height: 20em;
  margin-top: 5em;
  padding-bottom: 4em;
}
.cadre .pict2 {
  width: 15em;
  height: 20em;
  margin-bottom: 3em;
  margin-right: 3em;
}

.cadre2 {
  margin-left: 20em;
  padding-top: 4em;
  margin-top: -3px;
  padding-left: 5em;
  width: 1200px;
  background-color: #1e1e1e;
  margin-right: 8em;
  padding-bottom: 5em;
  /* picture 2nd cadre */
}
.cadre2 .exp1 {
  color: #aa8453;
  margin-left: 3%;
}
.cadre2 .exp2 {
  color: white;
  margin-left: 3%;
}
.cadre2 .cadre23 {
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
.cadre2 .cadre23 .picture31 {
  display: flex;
  flex-direction: row;
}
.cadre2 .cadre23 .pict3 {
  margin-top: -1.7%;
  float: left;
  order: 1/3;
  width: 25%;
  height: 30em;
  padding-right: 2em;
}
.cadre2 .cadre23 .fignuit1 {
  margin-top: 360px;
  position: absolute;
  color: white;
  margin-left: 2.2%;
  font-size: 20px;
}
.cadre2 .cadre23 .figjunior {
  position: absolute;
  color: white;
  margin-top: 400px;
  margin-left: 2%;
  font-size: 25px;
}
.cadre2 .cadre23 .res {
  border: solid white 1px;
  padding: 7px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 2%;
  margin-left: 13%;
}
.cadre2 .cadre23 .pict4 {
  order: 2/3;
  height: 30em;
  width: 25%;
  padding-right: 2em;
  margin-top: -1.8%;
}
.cadre2 .cadre23 .figfam {
  position: absolute;
  color: white;
  margin-top: -4.1%;
  margin-left: 22.8%;
  font-size: 25px;
}
.cadre2 .cadre23 .fignuit2 {
  margin-top: -100px;
  position: absolute;
  color: white;
  margin-left: 22.8%;
  font-size: 20px;
}
.cadre2 .cadre23 .res1 {
  border: solid white 1px;
  padding: 7px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: -28.5%;
  margin-left: 33.5%;
}
.cadre2 .cadre23 .pict5 {
  float: right;
  order: 3/3;
  height: 30em;
  margin-right: 19.5%;
  margin-top: -44.7%;
  width: 25%;
}
.cadre2 .cadre23 .figdouble {
  position: absolute;
  color: white;
  margin-top: -5.3%;
  margin-left: 43%;
  font-size: 25px;
}
.cadre2 .cadre23 .fignuit3 {
  margin-top: -7.5%;
  position: absolute;
  color: white;
  margin-left: 43%;
  font-size: 20px;
}
.cadre2 .cadre23 .res3 {
  border: solid white 1px;
  padding: 7px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: -29.5%;
  margin-left: 53.7%;
}
.cadre2 .cadre23 .pict41 {
  display: flex;
  flex-direction: row;
}
.cadre2 .cadre23 .pict41 .pict6 {
  order: 1/2;
  height: 20em;
  width: 36.2%;
  padding-right: 2em;
  margin-left: 3.5%;
}
.cadre2 .cadre23 .pict41 .figdeluxe {
  position: absolute;
  color: white;
  margin-top: 250px;
  margin-left: 4.2%;
  font-size: 25px;
}
.cadre2 .cadre23 .pict41 .fignuit4 {
  margin-top: 205px;
  position: absolute;
  color: white;
  margin-left: 4.2%;
  font-size: 20px;
}
.cadre2 .cadre23 .pict41 .res4 {
  border: solid white 1px;
  padding: 7px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 3%;
  margin-left: -7.5%;
}
.cadre2 .cadre23 .pict41 .pict7 {
  order: 2/2;
  height: 20em;
  width: 36.2%;
  padding-right: 2em;
}
.cadre2 .cadre23 .pict41 .figsuperior {
  position: absolute;
  color: white;
  margin-top: 250px;
  margin-left: 35%;
  font-size: 25px;
}
.cadre2 .cadre23 .pict41 .fignuit5 {
  margin-top: 205px;
  position: absolute;
  color: white;
  margin-left: 35%;
  font-size: 20px;
}
.cadre2 .cadre23 .pict41 .res5 {
  border: solid white 1px;
  padding: 7px;
  color: white;
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 3%;
  margin-left: -7.5%;
}

.oabody {
  background-color: #222222;
  height: 2100px;
}

/* scss background color*/
.flexbox {
  display: flex;
  flex-direction: column;
  border: 0px solid #2b2b2b;
  width: 902px;
  height: 1195px;
  background-color: #2b2b2b;
  margin-left: 29.5%;
}

/*flexbox epanouissement decouverte experience*/
img {
  width: 61%;
}

.acceuilresto {
  float: left;
}

.acceuilbe {
  margin-left: 61%;
  margin-top: -0.5%;
}

.fitnessclub {
  margin-top: -0.8%;
}

.piscine {
  margin-left: 61%;
  margin-top: -0.2%;
}

.decouverte {
  color: #95754a;
  margin-left: 63%;
  font-family: "themify";
  margin-top: 7%;
}

.experience {
  float: left;
  margin-top: -33.5%;
  color: #95754a;
  margin-left: 2.3%;
  font-family: "themify";
}

.epanouissement {
  color: #95754a;
  margin-left: 63%;
  font-family: "themify";
  margin-top: -35%;
}

.experience2 {
  color: #95754a;
  margin-left: 2.3%;
  font-family: "themify";
  margin-top: -35%;
}

.restauranth1 {
  color: white;
  margin-left: 63%;
  font-family: "themify";
  margin-top: -1.5%;
}

.bienetreh2 {
  color: white;
  text-align: left;
  margin-left: 2.3%;
  font-family: "themify";
  margin-top: -35%;
}

.fitness1 {
  color: white;
  margin-left: 63%;
  font-family: "themify";
  margin-top: -1.5%;
}

.aquatique {
  color: white;
  margin-left: 2.3%;
  font-family: "themify";
  margin-top: -1.5%;
}

.restop1 {
  color: #5c5c5c;
  margin-left: 63%;
  font-size: 15px;
  font-family: "Flaticon";
}

.bienetre1 {
  color: #5c5c5c;
  margin-left: 2.3%;
  font-size: 15px;
  font-family: "Flaticon";
}

.fitness2 {
  color: #5c5c5c;
  margin-left: 63%;
  font-size: 15px;
  font-family: "Flaticon";
}

.aquatique2 {
  color: #5c5c5c;
  margin-left: 2.3%;
  font-size: 15px;
  font-family: "Flaticon";
}

.golden1 {
  color: white;
  border: 1px #ac8c64 solid;
  width: 20%;
  padding: 1%;
  background-color: #ac8c64;
  margin-left: 63%;
  font-family: "Flaticon";
  font-size: 15px;
}

.savoirplus {
  margin-left: 8px;
}

.golden2 {
  color: white;
  border: 1px #ac8c64 solid;
  width: 20%;
  background-color: #ac8c64;
  margin-left: 2.3%;
  padding: 1%;
}

.golden3 {
  color: white;
  border: 1px #ac8c64 solid;
  width: 20%;
  background-color: #ac8c64;
  margin-left: 63%;
  padding: 1%;
}

.golden4 {
  color: white;
  border: 1px #ac8c64 solid;
  width: 20%;
  background-color: #ac8c64;
  margin-left: 2.3%;
  padding: 1%;
}

.flex-item {
  max-width: 100vh;
  border: 2px solid #2b2b2b;
  background-color: #2b2b2b;
} 
/* option services de l'hôtel*/
.option {
  margin-top: 5%;
  color: white;
  margin-left: 29.5%;
  font-size: 22px;
  font-family: "themify";
}

.optn1 {
  color: #5c5c5c;
  font-size: 13px;
  margin-left: 29.5%;
  font-size: 15px;
  font-family: "Flaticon";
}

.flatcall1 {
  font-size: 30px;
  color: #95754a;
  margin-left: 29.5%;
}

.info {
  color: #5c5c5c;
  font-size: 15px;
  margin-left: 32%;
  margin-top: -2%;
  font-size: 13px;
  font-family: "Flaticon";
}

.tel {
  color: #95754a;
  font-size: 17px;
  margin-top: -1%;
  margin-left: 32%;
  font-family: "Flaticon";
}

/*grid service coffre et dejeuner*/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #2b2b2b;
  background-color: #2b2b2b;
  width: 32vh;
  height: 12.1%;
  margin-top: -22vh;
  margin-left: 110vh;
}

.petitdejeuner {
  border: 2px solid #2b2b2b;
  background-color: #2b2b2b;
  width: 32vh;
  height: 7%;
  line-height: 20px;
}

.coffre {
  border: 2px solid #2b2b2b;
  background-color: #2b2b2b;
  margin-left: 20%;
  width: 32vh;
  height: 253px;
  line-height: 20px;
}

.dej {
  color: white;
  margin-left: 10%;
  padding-top: 20%;
  font-family: "themify";
  font-size: 22px;
}

.nisan {
  color: #95754a;
  font-family: "Flaticon";
  font-size: 20px;
}

.gold {
  font-size: 35px;
  color: #95754a;
  font-family: "Flaticon";
}

.deje1 {
  margin-left: 10%;
  color: #5c5c5c;
  font-size: 13px;
  font-family: "Flaticon";
}

/* flexbox services hotel*/
.services {
  color: white;
  margin-left: 29.5%;
  margin-top: 5%;
  font-size: 22px;
  font-family: "themify";
}

.flexservices {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 902px;
  height: 1000px;
  background-color: #222222;
  margin-left: 29.5%;
}

.service1 {
  border: 1px solid #2b2b2b;
  width: 36vh;
  height: 23%;
}
.service1 .flaticon-world {
  font-size: 35px;
  color: #95754a;
  margin-left: 10px;
}

.tprpid {
  margin-left: 10px;
  color: white;
  font-family: "themify";
  font-size: 17px;
}

.uno {
  margin-left: 10px;
  color: #5c5c5c;
  font-size: 12px;
  font-family: "Flaticon";
}

.service2 {
  border: 1px solid #2b2b2b;
  width: 36vh;
  height: 20%;
  margin-left: 35%;
  margin-top: -27.7%;
}
.service2 .flaticon-car {
  font-size: 35px;
  color: #95754a;
  margin-left: 10px;
}

.service3 {
  border: 1px solid #2b2b2b;
  width: 36vh;
  height: 20%;
  margin-left: 70.4%;
  margin-top: -22.3%;
}
.service3 .flaticon-bed {
  font-size: 35px;
  color: #95754a;
  margin-left: 10px;
}

.service4 {
  border: 1px solid #2b2b2b;
  width: 36vh;
  height: 20%;
  margin-top: 8%;
}
.service4 .flaticon-swimming {
  font-size: 35px;
  color: #95754a;
  padding-top: 2%;
  margin-left: 10px;
}

.service5 {
  border: 1px solid #2b2b2b;
  width: 36vh;
  height: 20%;
  margin-left: 35%;
  margin-top: -22.3%;
}
.service5 .flaticon-wifi {
  font-size: 35px;
  color: #95754a;
  margin-left: 10px;
}

.service6 {
  border: 1px solid #2b2b2b;
  width: 36vh;
  height: 20%;
  margin-left: 70.4%;
  margin-top: -22.3%;
}
.service6 .flaticon-breakfast {
  font-size: 35px;
  color: #95754a;
  margin-left: 10px;
}

/*contact et a propos de l'hôtel*/
.aopro {
  margin-top: -33%;
}

.oapropos {
  color: white;
  margin-left: 29.5%;
  margin-top: 7%;
  font-family: "themify";
  font-size: 22px;
}

.onlyhotel {
  color: #5c5c5c;
  margin-left: 29.5%;
  font-size: 15px;
  font-family: "Flaticon";
}

.contactoa {
  margin-top: -9%;
  margin-left: 140vh;
  margin-top: -10.4%;
}

.azor {
  color: white;
  font-family: "themify";
  font-size: 22px;
}

.avenue {
  color: #5c5c5c;
  font-family: "Flaticon";
}

.phone {
  color: white;
  font-family: "Flaticon";
  margin-left: 6%;
  font-size: 22px;
  margin-top: -4.5%;
}

.flaticon-calls {
  font-size: 22px;
  color: white;
}

.mail {
  color: white;
  -webkit-text-decoration: underline #95754a;
          text-decoration: underline #95754a;
  font-family: "Flaticon";
}

/*réseaux sociaux et mentions légales*/
.ti-instagram {
  color: white;
}

.ti-twitter {
  color: white;
  padding-left: 10px;
}

.ti-youtube {
  color: white;
  padding-left: 10px;
}

.ti-facebook {
  color: white;
  padding-left: 10px;
}

.ti-pinterest {
  color: white;
  padding-left: 10px;
}

.mention {
  border: 2px solid #1e1e1e;
  width: 90%;
  height: 3.5%;
  background-color: #1e1e1e;
  margin-left: 20%;
  margin-top: 7%;
  font-family: "Flaticon";
}

.condition {
  margin-left: -10%;
  color: white;
  margin-top: 2%;
  text-align: center;
}

.copyright {
  color: #5c5c5c;
}/*# sourceMappingURL=oastyle.css.map */