.accueil i {
    color: #aa8453;
    font-size: 50px;
}

.BoxServices i {
    position: absolute;
    top: 15%;
    line-height: 60px;
}

.InfoTel i {
    font-size: 25px;
}


.socialNetwork {
    display: flex;
    flex-flow: row nowrap;
}

.socialNetwork i {
    font-size: 20px;
    color: white;
}

.flaticon-call {
    color: #aa8453;
}

.telpropos i {
    color: white;
font-size: 17px;}