
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border: 2px solid #2b2b2b;
    background-color: #2b2b2b;
    width :27vh;
    height: 7%;
    margin-top : -20vh;
    margin-left: 93vh;

  }