@font-face {
    font-family: 'themify';
    src: url('../fonts/themify.eot');
    src: url('../fonts/themify.eot?#iefix') format('embedded-opentype'),
        url('../fonts/themify.woff') format('woff'),
        url('../fonts/themify.ttf') format('truetype'),
        url('../fonts/themify.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Flaticon';
    src: url('../fonts/Flaticon.eot');
    src: url('../fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Flaticon.woff2') format('woff2'),
        url('../fonts/Flaticon.woff') format('woff'),
        url('../fonts/Flaticon.ttf') format('truetype'),
        url('../fonts/Flaticon.svg#Flaticon') format('svg');
    font-weight: normal;
    font-style: normal;
}


$background-color: #222222;
$background-border: #2b2b2b;
$color-subtitle: white;
$color-text: #5c5c5c;

/* scss background color*/

/* Body */
body {
    background-color: #1b1b1b;

    a {

        color: #676767;
        text-decoration: none;



    }


}

a:hover {
    color: #aa8453;
}



/* Header */


.header1 {

    background-color: #1b1b1b;
    color: #aa8453;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 3rem;
    width: 15rem;
    padding-right: 2rem;
    position: fixed;
    height: 100vh;



    p {
        color: white;

    }




    /* class header */

    .liste {
        color: #676767;
        line-height: 50px;

    }


    /* div2 */

    .left2 {

        display: flex;
        flex-direction: row;


        .left21 {
            order: 1;

            i {
                font-size: 40px;
                margin-left: -30%;
                margin-top: 1500px;

            }
        }

        .left22 {
            order: 2;
            width: 80%;
            line-height: 60%;
        }

        .num {
            color: #aa8453;
            font-size: 18px;
            margin-left: 7%;
            line-height: 60%;

        }

        .info {
            font-size: 15px;
            margin-left: 7%;
            color: #676767;
        }
    }


}

/* SLIDER */

#slider {



    .slider2 {
        height: 50rem;
        width: 87.5rem;
        margin-left: 20rem;
    }

}

.titreAccueil {
    position: absolute;
    top: 30px;
    left: 300px;
}

// .surTitre {
//     position: relative;
//     top: 30px;
//     left: 300px;
// }




/* cadre */

.cadre {
    margin-left: 20em;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    padding-top: 1em;
    margin-top: -3px;
    padding-left: 5em;
    padding-bottom: 5em;
    padding-right: 2em;
    margin-right: 8em;
    line-height: 20px;

    .exp1 {
        color: #aa8453;
    }

    .exp2 {
        color: white;
    }

    .exp3 {
        color: #676767;
        padding-right: 0em;


    }

    /* picture du premier cadre */

    .pict1 {
        width: 15em;
        height: 20em;
        margin-top: 5em;
        padding-bottom: 4em;

    }

    .pict2 {
        width: 15em;
        height: 20em;
        margin-bottom: 3em;
        margin-right: 3em;
    }
}

.cadre2 {
    margin-left: 20em;
    padding-top: 4em;
    margin-top: -3px;
    padding-left: 5em;
    width: 1200px;
    background-color: #1e1e1e;
    margin-right: 8em;
    padding-bottom: 5em;



    .exp1 {
        color: #aa8453;
    }

    .exp2 {
        color: white;
    }


    /* picture 2nd cadre */
    .cadre23 {

        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: space-between;

        gap: 2em;


        .picture31 {
            display: flex;
            flex-direction: row;



        }


        .pict3 {
            margin-top: -1.7%;
            float: left;
            order: 1/3;
            width: 25%;
            height: 30em;
            padding-right: 2em;



        }

        .fignuit1 {
            margin-top: 360px;
            position: absolute;
            color: white;
            margin-left: 2.2%;
            font-size: 20px;

        }

        .figjunior {
            position: absolute;
            color: white;
            margin-top: 400px;
            margin-left: 2%;
            font-size: 25px;

        }



        .res {
            border: solid white 1px;
            padding: 7px;
            color: white;
            transform: rotate(-90deg);
            position: absolute;
            margin-top: 2%;
            margin-left: 13%;
        }


        .pict4 {
            order: 2/3;
            height: 30em;
            width: 25%;
            padding-right: 2em;
            margin-top: -1.8%;

        }

        .figfam {
            position: absolute;
            color: white;
            margin-top: -4.1%;
            margin-left: 22.8%;
            font-size: 25px;
        }

        .fignuit2 {
            margin-top: -100px;
            position: absolute;
            color: white;
            margin-left: 22.8%;
            font-size: 20px;
        }

        .res1 {
            border: solid white 1px;
            padding: 7px;
            color: white;
            transform: rotate(-90deg);
            position: absolute;
            margin-top: -28.5%;
            margin-left: 33.5%;
        }


        .pict5 {
            float: right;
            order: 3/3;
            height: 30em;
            margin-right: 19.5%;
            margin-top: -44.7%;
            width: 25%;

        }

        .figdouble {
            position: absolute;
            color: white;
            margin-top: -5.3%;
            margin-left: 43%;
            font-size: 25px;
        }

        .fignuit3 {
            margin-top: -7.5%;
            position: absolute;
            color: white;
            margin-left: 43%;
            font-size: 20px;
        }

        .res3 {
            border: solid white 1px;
            padding: 7px;
            color: white;
            transform: rotate(-90deg);
            position: absolute;
            margin-top: -29.5%;
            margin-left: 53.7%;
        }

        .pict41 {
            display: flex;
            flex-direction: row;


            .pict6 {
                order: 1/2;
                height: 20em;
                width: 37.6em;
                padding-right: 2em;
            }

            .pict7 {
                order: 2/2;
                height: 20em;
                width: 37.6em;
                padding-right: 2em;
            }

        }


    }




}

.oabody {
    background-color: $background-color;
    height: 2100px;
}

/* scss background color*/
.flexbox {
    display: flex;
    flex-direction: column;
    border: 0px solid $background-border;
    width: 700px;
    height: 930px;
    background-color: $background-border;
    margin-left: 28%;
}

/*flexbox epanouissement decouverte experience*/
img {
    width: 50%;

}

.acceuilresto {
    float: left;
}

.acceuilbe {
    float: right;
}

.fitnessclub {
    float: left;
}

.piscine {
    float: right;
}

.decouverte {
    color: #95754a;
    margin-left: 53%;
    font-family: 'themify';
}

.experience {
    color: #95754a;
    margin-left: 2.3%;
    font-family: 'themify';

}

.epanouissement {
    color: #95754a;
    margin-left: 53%;
    font-family: 'themify';
}

.experience2 {
    color: #95754a;
    margin-left: 2.3%;
    font-family: 'themify';
}

.restauranth1 {
    color: $color-subtitle;
    margin-left: 53%;
    font-family: 'themify';
    margin-top: -1.5%;
}

.bienetreh2 {
    color: $color-subtitle;
    text-align: left;
    margin-left: 2.3%;
    font-family: 'themify';
    margin-top: -7%;

}

.fitness1 {
    color: $color-subtitle;
    margin-left: 53%;
    font-family: 'themify';
    margin-top: -1.5%;
}

.aquatique {
    color: $color-subtitle;
    margin-left: 2.3%;
    font-family: 'themify';
    margin-top: -1.5%;
}

.restop1 {
    color: $color-text;
    margin-left: 53%;
    font-size: 13px;
    font-family: 'Flaticon';

}

.bienetre1 {
    color: $color-text;
    margin-left: 2.3%;
    font-size: 13px;
    font-family: 'Flaticon';
}

.fitness2 {
    color: $color-text;
    margin-left: 53%;
    font-size: 13px;
    font-family: 'Flaticon';
}

.aquatique2 {
    color: $color-text;
    margin-left: 2.3%;
    font-size: 13px;
    font-family: 'Flaticon';
}

.golden1 {
    color: $color-subtitle;
    border: 1px #ac8c64 solid;
    width: 20%;
    height: 15%;
    background-color: #ac8c64;
    margin-left: 370px;
    font-family: 'Flaticon';
    font-size: 15px;
}

.savoirplus {
    margin-left: 8px;

}

.golden2 {
    color: $color-subtitle;
    border: 1px #ac8c64 solid;
    width: 20%;
    background-color: #ac8c64;
    margin-left: 2.3%;
}

.golden3 {
    color: $color-subtitle;
    border: 1px #ac8c64 solid;
    width: 20%;
    background-color: #ac8c64;
    margin-left: 53%;
}

.golden4 {
    color: $color-subtitle;
    border: 1px #ac8c64 solid;
    width: 20%;
    background-color: #ac8c64;
    margin-left: 2.3%;
}

.flex-item {
    max-width: 100vh;
    border: 2px solid $background-border;
    background-color: $background-border;
}

/*# sourceMappingURL=oastyle.css.map */

/* option services de l'hôtel*/
.option {
    margin-top: 5%;
    color: $color-subtitle;
    margin-left: 28%;
    font-size: 22px;
    font-family: 'themify';
}

.optn1 {
    color: $color-text;
    font-size: 13px;
    margin-left: 28%;
    font-size: 13px;
    font-family: 'Flaticon';
}

.flaticon-call {
    font-size: 30px;
    color: #95754a;
    margin-left: 28%;


}

.info {
    color: $color-text;
    font-size: 13px;
    margin-left: 30.5%;
    margin-top: -2%;
    font-size: 13px;
    font-family: 'Flaticon';
}

.tel {
    color: #95754a;
    font-size: 17px;
    margin-top: -1%;
    margin-left: 30.5%;

    font-family: 'Flaticon';

}

/*grid service coffre et dejeuner*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid $background-border;
    background-color: $background-border;
    width: 27vh;
    height: 8.1%;
    margin-top: -20vh;
    margin-left: 93vh;
}

.petitdejeuner {
    border: 2px solid $background-border;
    background-color: $background-border;
    width: 25vh;
    height: 7%;
    line-height: 20px;

}

.coffre {
    border: 2px solid $background-border;
    background-color: $background-border;
    margin-left: 15%;
    width: 27vh;
    height: 98%;
    line-height: 20px;




}

.dej {

    color: $color-subtitle;
    margin-left: 10%;
    padding-top: 0cm 7%;
    font-family: 'themify';
    font-size: 20px;


}

.nisan {
    color: #95754a;
    font-family: 'Flaticon';
}

.gold {
    font-size: 30px;
    color: #95754a;
    font-family: 'Flaticon';
}

.deje1 {
    margin-left: 10%;
    color: $color-text;
    font-size: 12px;

    font-family: 'Flaticon';
}

/* flexbox services hotel*/
.services {
    color: $color-subtitle;
    margin-left: 28%;
    margin-top: 5%;
    font-size: 22px;
    font-family: 'themify';
}

.flexservices {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    width: 700px;
    height: 380px;
    background-color: $background-color;
    margin-left: 28%;
}

.service1 {
    border: 1px solid $background-border;
    width: 29vh;
    height: 23vh;

    .flaticon-world {
        font-size: 35px;
        color: #95754a;
        margin-left: 10px;
    }
}

.tprpid {
    margin-left: 10px;
    color: $color-subtitle;
    font-family: 'themify';
    font-size: 17px;
}

.uno {
    margin-left: 10px;
    color: $color-text;
    font-size: 12px;
    font-family: 'Flaticon';
}

.service2 {
    border: 1px solid $background-border;
    width: 29vh;
    height: 20vh;
    margin-left: 34.5%;
    margin-top: -24.7%;

    .flaticon-car {
        font-size: 35px;
        color: #95754a;
        margin-left: 10px;

    }
}

.service3 {
    border: 1px solid $background-border;
    width: 29vh;
    height: 20vh;
    margin-left: 68.9%;
    margin-top: -21.6%;

    .flaticon-bed {
        font-size: 35px;
        color: #95754a;
        margin-left: 10px;
    }
}


.service4 {
    border: 1px solid $background-border;
    width: 29vh;
    height: 20vh;
    margin-top: 7%;

    .flaticon-swimming {
        font-size: 35px;
        color: #95754a;
        margin-left: 10px;

    }
}

.service5 {
    border: 1px solid $background-border;
    width: 29vh;
    height: 20vh;
    margin-left: 34.5%;
    margin-top: -21.4%;

    .flaticon-wifi {
        font-size: 35px;
        color: #95754a;
        margin-left: 10px;

    }
}


.service6 {
    border: 1px solid $background-border;
    width: 29vh;
    height: 20vh;
    margin-left: 68.9%;
    margin-top: -21.5%;

    .flaticon-breakfast {
        font-size: 35px;
        color: #95754a;
        margin-left: 10px;
    }
}

/*contact et a propos de l'hôtel*/
.oapropos {
    color: $color-subtitle;
    margin-left: 28%;
    margin-top: 7%;
    font-family: 'themify';
    font-size: 20px;
}

.onlyhotel {
    color: $color-text;
    margin-left: 28%;
    font-size: 13px;
    font-family: 'Flaticon';
}

.contactoa {
    margin-top: -9%;
    margin-left: 122vh;
    ;

}

.azor {
    color: $color-subtitle;
    font-family: 'themify';
    font-size: 20px;
}

.avenue {
    color: $color-text;
    font-family: 'Flaticon';

}

.phone {
    color: $color-subtitle;
    font-family: 'Flaticon';
    margin-left: 5%;
    font-size: 22px;
    margin-top: -3.4%;
}

.flaticon-calls {
    font-size: 22px;
    color: white;

}

.mail {
    color: $color-subtitle;
    text-decoration: underline #95754a;
    font-family: 'Flaticon';

}

/*réseaux sociaux et mentions légales*/

.ti-instagram {
    color: white;

}

.ti-twitter {
    color: white;
    padding-left: 10px;
}

.ti-youtube {
    color: white;
    padding-left: 10px;
}

.ti-facebook {
    color: white;
    padding-left: 10px;
}

.ti-pinterest {
    color: white;
    padding-left: 10px;
}

.mention {
    border: 2px solid #1e1e1e;
    width: 700px;
    height: 3.5%;
    background-color: #1e1e1e;
    text-align: center;
    font-size: 10px;
    margin-left: 28%;
    margin-top: 7%;
    font-family: 'Flaticon';
}

.condition {
    margin-left: 5%;
    color: white;
    margin-top: 5%;

}

.copyright {
    color: $color-text;
}